body {background-color:#2f2f2f; }
.movies {margin-top:100px;}

.loader__text {display:block; width:100px; height:40px; position:absolute; top:400px; left:45%; margin:0 auto;  font-size:25px; color:#fff;}