body {margin:0; padding:0;}

.movie {width:600px; height:300px; position:relative; background:#fff; float:left; margin-left:70px; margin-right:50px; margin-bottom:50px;}
.movie img {max-width:180px; margin-top:-10px; margin-left:-10px;}
.movie img,div {float:left;}
.movie_data {width:400px; margin-left:20px} 

.movie_genres {visibility:hidden}